<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link href="" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../vue.js"></script>
    <title>1.10.2_Prop</title>
</head>
<body>
    <p>--------------------- 使用Prop传递数据 ----------------------</p>
    <div id="example1">
        <evllis-component msg="Hello world!"></evllis-component>
    </div>

    <p>--------------------- camelCase vs keybab-case ----------------------</p>
    <div id="example2">
        <evllis-component my-msg="什么样的格式"></evllis-component>
    </div>

    <p>--------------------- 动态Prop ----------------------</p>
    <!-- 要想把父组件的数据传递到子组件的prop里面, 必须在组件上使用v-bind绑定data数据 -->
    <div id="example3">
        <input type="text" v-model="msg" />
        <evllis-component v-bind:new-text="msg"></evllis-component>
    </div>

    <p>--------------------- 字面量语法 vs 动态语法 ----------------------</p>
    <div id="example4">
        <!-- 不使用v-bind, 将以字符串进行解析"1" + "2", 结果字符串"12" -->
        <evllis-component send-prop="1"></evllis-component>
        <!-- 使用v-bind, 将以表达式来进行解析 1 + 2, 结果数字3 -->
        <evllis-component v-bind:send-prop="1"></evllis-component>
    </div>

    <p>--------------------- 单向数据流 ----------------------</p>
    <div id="example5">
        <input type="text" v-model="msg" />
        <evllis-component v-bind:get-text="msg"></evllis-component>
    </div>

    <p>--------------------- prop验证 ----------------------</p>
    <div id="example6">
        <evllis-component
            v-bind:val-null="val_null"
            v-bind:val-string="val_string"
            v-bind:val-polytype="val_polytype"
            v-bind:val-number="val_number"
            v-bind:val-object="val_object">
        </evllis-component>
    </div>

    <script>
        // 使用Prop传递数据
        // 以简单的字面量字符串进行数据传递
        var vm1 = new Vue({
            el: '#example1',
            components: {
                'evllis-component': {
                    props: ['msg'],
                    template: '<a>{{ msg }}</a>'
                }
            }
        });

        // camelCase vs kebab-case
        // 如果使用的是非字符串模板, 需要把prop以对应的kebab-case( 短横线 )命名开来
        var vm2 = new Vue({
            el: '#example2',
            components: {
                'evllis-component': {
                    props: ['myMsg'],
                    template: '<a>{{ myMsg }}</a>'
                }
            }
        });

        // 动态Prop
        // 父组件中使用子组件时, 通过以下语法将数据传递给子组件
        // <child-component v-bind:子组件prop="父组件数据属性"></child-component>
        var vm3 = new Vue({
            el: '#example3',
            data: {
                msg: ''
            },
            components: {
                'evllis-component': {
                    props: ['newText'],
                    template: '<a>{{ newText }}</a>'
                }
            }
        });

        // 字面量语法 vs 动态语法
        var vm4 = new Vue({
            el: '#example4',
            components: {
                'evllis-component': {
                    props: ['sendProp'],
                    template: '<span>{{ sendProp + 2 }}</span>'
                }
            }
        });

        // 单向数据流
        // 修改父组件, 子组件会立即同步更新. 修改子组件, 会报错.
        // 注意: 因为父子组件引用的是同一个prop对象或数组, 如果在子组件内部改变此prop将会影响到父组件的状态.
        var vm5 = new Vue({
            el: '#example5',
            data: {
                msg: ''
            },
            components: {
                'evllis-component': {
                    props: ['getText'],
                    template: '<input v-model="getText" />'
                }
            }
        });

        // prop验证
        var vm6 = new Vue({
            el: '#example6',
            data: {
                val_null: 11111,
                val_string: '这是字符串这是字符串这是字符串这是字符串',
                val_polytype: '121221',
                val_number: 51,
                val_object: {
                    name: '小明',
                    age: 22
                }
            },
            components: {
                'evllis-component': {
                    props: {
                        // 任何类型的数据都可以接收
                        valNull: null,
                        // 只接收字符串类型, validator是验证方法
                        valString: {
                            type: String,
                            required: true,
                            validator: function(value) {
                                if (value.length > 10) {
                                    alert('长度太长啦!!!!');
                                }
                                return value;
                            }
                        },
                        // 只接收数字类型
                        valNumber: {
                            type: Number,
                            default: 50,
                            validator: function(value) {
                                return value > 20;
                            }
                        },
                        // 字符串, 数字都可以
                        valPolytype: [String, Number],
                        // 只接收对象, default为预设值,也是默认值
                        valObject: {
                            type: Object,
                            default: function() {
                                return {
                                    name: '预设名字',
                                    age: 35
                                }
                            }
                        }
                    },
                    template: '<div>' +
                    '<p>val_null: {{ valNull }}</p>' +
                    '<p>val_string: {{ valString }}</p>' +
                    '<p>val_polytype: {{ valPolytype }}</p>' +
                    '<p>val_number: {{ valNumber }}</p>' +
                    '<p>val_object: 姓名: {{ valObject.name }}, 年龄: {{ valObject.age }}</p>' +
                    '</div>'

                }
            }
        });
    </script>
</body>
</html>