<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="../vue.js"></script>
	<title>1.6_条件渲染</title>
</head>
<body>
	<div id="box">
		<!-- v-if -->
		<div v-if="test1">为真时显示</div>
		<div v-else>为假时显示</div>
		<!-- v-if条件组 -->
		<template v-if="test2">
			<h1>我是标题</h1>
			<p>我是段落</p>
			<a href="">我是一个链接</a>
		</template>
		<!-- v-else -->
		<div v-if="num > 5">
			new World
		</div>
		<div v-else>
			old World
		</div>
		<!-- v-else-if链式调用 -->
		<div v-if="colorType === 'red'">
			我是红色
		</div>
		<div v-else-if="colorType === 'blue'">
			我是蓝色
		</div>
		<div v-else-if="colorType === 'green'">
			我是绿色
		</div>
		<div v-else>
			我是黄色
		</div>
		<!-- 使用key来控制元素的可重用 -->
		<!-- key是唯一性的, 加了唯一的key之后, 元素将不会再重用, 没加key的元素, 依然会被重用 -->
		<template v-if="loginType === 'username'">
			<label>Username</label>
			<input type="text" placehloder="Enter your username" key="input-username">
		</template>
		<template v-else>
			<label>Email</label>
			<input type="text" placehloder="Enter your Email" key="input-email">
		</template>
		<button @click="toggleAtt">切换试一试</button>
		<!-- v-show -->
		<!-- 结构始终保持在dom中, 我们能做的只是切换display属性来进行显示或者隐藏罢了. -->
		<div v-show="test3">我是v-show</div>
		<!-- v-if vs v-show -->
		<!-- 
			如果频繁的切换, 推荐使用v-show, 反之, 用v-if
			因为v-show始终渲染在dom结构中, 而v-if只在第一次条件为真时才进行渲染
		 -->
		<div v-if="test4">
			我是v-if vs v-show
		</div>
		<div v-else>
			我是为假的时候v-if vs v-show
		</div>
		<div v-show="test5">我始终在dom结构中</div>
		<!-- v-if with v-for -->
		<div>
			<a v-for="(items, index) in list" v-if="index !== 1">{{ items.text }}</a>
		</div>
	</div>
	<script>
		var onOff = false;
		var vm = new Vue({
			el: '#box',
			data: {
				test1: false,
				test2: false,
				num: 6,
				colorType: 'blue',
				loginType: 'username',
				test3: false,
				test4: true,
				test5: false,
				list: [
					{ 'text': '文字1' },
					{ 'text': '文字2' },
					{ 'text': '文字3' },
					{ 'text': '文字4' }
				]
			},
			methods: {
				toggleAtt: function() {
					if (onOff) {
						this.loginType = 'username';
					} else {
						this.loginType = '';
					}
					onOff = !onOff;
				}
			}
		});
	</script>
</body>
</html>