<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>1.4_用组件构建（应用）</title>
</head>
<body>
<div id="box-1">
    <my-test v-for="item in list" v-bind:hehe="item"></my-test>
    <!--<span v-for="item in list">{{ item.text }}</span>-->
</div>
<script src="../vue.js" type="text/javascript"></script>
<script>
    Vue.component('my-test', {
        props: ['hehe'],
        template: '<span>{{ hehe.text }}</span>'
    });

    var oBox1 = new Vue({
        el: '#box-1',
        data: {
            list: [
                { text: '我是1' },
                { text: '我是2' },
                { text: '我是3' }
            ]
        }
    });

    // 循环列表里面的第一项，然后把每一项又传递给组件，再进行组件数据渲染。
    // 把item数据传递给组件里的hehe，这样组件就可以访问到oBox1实例中的数据了
</script>
</body>
</html>